{% extends '_base.html.twig' %}

{% block body %}

    {% include '_header.html.twig' %}

    <div class="container mt-3">

        <main>

            {% include '_flash.html.twig' with {'flashes': flashes} %}

            <h1 class="text-center h3">Hello World :)</h1>

        </main>

    </div>

{% endblock %}