{% set flashes = get_flash() %}

{% if flashes is not empty %}

    <div class="row">
        <div class="col-12">

            {% for name, group in flashes %}
                {% for flash in group %}
                    <div class="alert alert-dismissible fade show alert-{{ name }}" role="alert">
                        {% if flash is iterable %}
                            <ul class="flash-list">
                                <li>{{ flash|join('<li>')|raw }}</li>
                            </ul>

                        {% else %}
                            {{ flash }}
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

        </div>
    </div>

    <style>
        .flash-list {
            margin-bottom: 0 !important;
        }
    </style>

    <script>
        setTimeout(function () {
            $('.alert-success, .alert-info').alert('close');
        }, 2500);
    </script>

{% endif %}